<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.marcusmller.qa_app">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:autoLink="web|email"
        android:linksClickable="true"
    android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity
            android:name=".FrageStellen"
            android:theme="@style/AppTheme.CustomTheme" />
        <activity
            android:name=".Antwort"
            android:theme="@style/AppTheme.CustomTheme" />
        <activity android:name=".Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".About"
            android:theme="@style/AppTheme.CustomTheme" />
        <activity android:name=".FragmentOne" />
        <activity android:name=".FragmentTwo"></activity>
        <activity android:name=".AddLink"
            android:theme="@style/AppTheme.CustomTheme">
        </activity>
    </application>

</manifest>